*, *::before, *::after {
  box-sizing: border-box;
}


:root {
  --color-light: #efefef;
  --background-color: var(--color-light);
  --foreground-color: #202124;
  --cell-color: #0765a3;
  --cell-highlighted-color: #0a9649;
  --puzzle-cursor-color: #a5055d;
  --border-radius: 3px;
  --translucent-black: rgba(0, 0, 0, .12);

  --transition-duration-fast: 100ms;
  --button-box-shadow:
    inset 0px 2px 1px -1px rgba(255, 255, 255, .5),
    0px 2px 1px rgba(0, 0, 0, .16);
}

body {
  display: grid;
  min-height: 80vh;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Consolas', monospace;
  color: var(--foreground-color);
}

main {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr;
  place-content: center;
  place-items: center;
  padding: 2rem;
  gap: 3rem;
  text-align: center;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: var(--puzzle-cursor-color);
  color: var(--color-light);
  padding: .45em 1.5em;
  border-radius: var(--border-radius);
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.description {
  grid-column: 1 / -1;
}

#solve-button {
  grid-column: 1 / -1;
  justify-self: center;
  background-color: darkslateblue;
}

.puzzle-wrapper {
  display: grid;
  place-items: center;
  gap: .75rem;
  opacity: 0;
  transform: scaleY(0);
  transition: transform ease-in-out 250ms, opacity ease-in-out 500ms;
}

.puzzle-wrapper[data-open] {
  opacity: 1;
  transform: scaleY(1);
}

.puzzle-wrapper h3 {
  margin: 0;
}

.form {
  display: grid;
  max-width: 600px;
  width: 100%;
  align-items: center;
  gap: 1rem;
  grid-column: 1 / -1;
  background-color: var(--translucent-black);
  padding: 1.5rem;
  border-radius: 6px;
}

.form-submit-button {
  grid-column: 1 / -1;
  justify-self: center;
}

input {
  color: inherit;
}

input[type="range"],
input[type="checkbox"] {
  cursor: pointer;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

label :first-child {
  margin-right: .75em;
}

select {
  padding: .45em 1em;
  border-radius: var(--border-radius);
  background-color: darkslateblue;
  border: none;
  color: var(--color-light);
  cursor: pointer;
  box-shadow: var(--button-box-shadow);
}

#solve-puzzle-form {
  opacity: 0;
  transform: scaleY(0);
  transition: transform ease-in-out 250ms, opacity ease-in-out 500ms;

}

#solve-puzzle-form[data-open] {
  opacity: 1;
  transform: scaleY(1);
}

.solution-step-puzzle,
.puzzle {
  --size: 3;
  --item-size: 2.25rem;

  display: grid;
  grid-template-columns: repeat(var(--size), var(--item-size));
  place-items: center;
  gap: calc(var(--item-size) / 4);
  margin: 1rem 0;
}

.solution-step-item,
.puzzle-item,
.puzzle-cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  width: var(--item-size);
  height: var(--item-size);
  font-weight: bold;
  background-color: var(--cell-color);
  color: var(--color-light);
  box-shadow: var(--button-box-shadow);
  position: relative;
  overflow: hidden;
}

.puzzle-item[draggable] {
  cursor: grab;
}

.puzzle-item[draggable]:hover {
  background-color: var(--cell-highlighted-color);
}

button::after,
.puzzle-item::after,
.puzzle-cursor::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 100%;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, .16);
  border-radius: 100vw;
  transition:
    top ease-in-out var(--transition-duration-fast),
    left ease-in-out var(--transition-duration-fast);
}

button:hover::after,
.puzzle-item:hover::after,
.puzzle-cursor:hover::after {
  top: -50%;
  left: -50%;
}

.puzzle-cursor {
  background-color: var(--puzzle-cursor-color);
}

.puzzle-reset-button {
  background-color: darkslategrey;
}

.puzzle-randomize-button,
.puzzle-reset-button {
  justify-self: stretch;
}

#solution-steps {
  display: grid;
  gap: 1rem;
  justify-self: stretch;
  background-color: var(--translucent-black);
  grid-column: 1 / -1;
  padding: 1rem;
  place-content: center;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

#solution-steps[data-solving="true"] {
  background-color: darkslateblue;
}

#solution-title {
  margin: 0;
  grid-column: 1 / -1;
}

.solution-step {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 1rem;
  background-color: rgba(255, 240, 255, .08);
  padding: inherit;
  border-radius: inherit;
  content-visibility: auto;
  contain-intrinsic-size: 1px 300px;
}

.solution-step-item {
  --item-size: 2rem;
}

.solution-step-direction {
  text-align: left;
}

.solution-step-index::after {
  content: ':';
}

.solution-step-puzzle {
  grid-column: 1 / -1;
}

.solution-step-message {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #efefef;
    --background-color: #202124;
    --foreground-color: var(--color-light);
    --cell-color: #174f74;
    --cell-highlighted-color: #177441;
    --puzzle-cursor-color: #80134f;
  }
}

@media only screen and (min-width: 640px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}