*, *::before, *::after {
  box-sizing: border-box;
}


:root {
  --puzzle-cols: 3;
  --puzzle-rows: 3;
  --puzzle-item-size: 2.25rem;

  --color-light: #efefef;
  --background-color: #ffffff;
  --foreground-color: #202124;
  --cell-color: #0765a3;
  --cell-highlighted-color: #118847;
  --puzzle-cursor-color: #c21172;
  --border-radius: 3px;
  --translucent-black: rgba(0, 0, 0, .03);

  --transition-duration-fast: 100ms;
  --button-box-shadow:
    inset 0px 2px 1px -1px rgba(255, 255, 255, .5),
    0px 2px 1px rgba(0, 0, 0, .16);
}

body {
  display: grid;
  min-height: 80vh;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Consolas', monospace;
  color: var(--foreground-color);
}

main,
.content-wrapper {
  display: grid;
  place-items: center;
  padding: 2rem;
  gap: 3rem;
  text-align: center;
}

.content-wrapper {
  place-content: center;
  padding: 0;
  grid-template-columns: 1fr;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: var(--puzzle-cursor-color);
  color: var(--color-light);
  padding: .45em 1.5em;
  border-radius: var(--border-radius);
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.description {
  grid-column: 1 / -1;
}

#solve-button {
  grid-column: 1 / -1;
  justify-self: center;
  background-color: darkslateblue;
}

.puzzles {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: inherit;
  grid-column: 1 / -1;
}

.puzzle-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  place-items: center;
  gap: .75rem;
  opacity: 0;
  transform: scaleY(0);
  transition: transform ease-in-out 250ms, opacity ease-in-out 500ms;
}

.puzzle-wrapper[data-open] {
  opacity: 1;
  transform: scaleY(1);
}

.puzzle-wrapper h3 {
  margin: 0;
  grid-column: 1 / -1;
}

.form {
  display: grid;
  width: 100%;
  align-items: center;
  gap: 1rem;
  grid-column: 1 / -1;
  background-color: var(--translucent-black);
  padding: 1.5rem;
  border-radius: 6px;
}

.form-submit-button {
  grid-column: 1 / -1;
  justify-self: center;
}

input {
  color: inherit;
  background-color: var(--background-color);
  padding: .45em 1em;
  border: 0;
  border-bottom: 2px solid var(--foreground-color);
  border-radius: var(--border-radius);
  font-size: inherit;
}

input::placeholder {
  font-style: italic;
}

input[type="range"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="range"]::after {
  content: attr('value');
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

label :first-child {
  margin-right: .75em;
}

select {
  padding: .45em 1em;
  border-radius: var(--border-radius);
  background-color: darkslateblue;
  font-size: inherit;
  border: none;
  color: var(--color-light);
  cursor: pointer;
  box-shadow: var(--button-box-shadow);
}

#solve-puzzle-form {
  opacity: 0;
  transform: scaleY(0);
  transition: transform ease-in-out 250ms, opacity ease-in-out 500ms;
}

#solve-puzzle-form[data-open] {
  opacity: 1;
  transform: scaleY(1);
}

.solution-step-puzzle,
.puzzle {
  display: grid;
  grid-template-columns: repeat(var(--puzzle-cols), var(--puzzle-item-size));
  grid-template-rows: repeat(var(--puzzle-rows), var(--puzzle-item-size));
  place-items: center;
  gap: calc(var(--puzzle-item-size) / 4);
  margin: 1rem 0;
}

.puzzle {
  justify-self: stretch;
  padding: 1rem;
  border-radius: 6px;
  place-content: center;
  grid-column: 1 / -1;
  background-color: var(--translucent-black);
}

.solution-step-item,
.puzzle-item,
.puzzle-cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  width: var(--puzzle-item-size);
  height: var(--puzzle-item-size);
  font-weight: bold;
  background-color: var(--cell-color);
  color: var(--color-light);
  box-shadow: var(--button-box-shadow);
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.puzzle-item[draggable] {
  cursor: grab;
}

.puzzle-item[draggable]:hover {
  background-color: var(--cell-highlighted-color);
}

button::after,
.puzzle-item::after,
.puzzle-cursor::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 100%;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, .16);
  border-radius: 100vw;
}

button:hover::after,
.puzzle-item:hover::after,
.puzzle-cursor:hover::after {
  top: -50%;
  left: -50%;
}

.puzzle-cursor {
  background-color: var(--puzzle-cursor-color);
}

.puzzle-reset-button {
  background-color: var(--cell-highlighted-color);
}

.puzzle-randomize-button,
.puzzle-reset-button {
  justify-self: stretch;
}

#solution-steps-wrapper {
  justify-self: stretch;
  justify-items: stretch;
  opacity: 0;
  transform: scaleY(0);
  transition: transform ease-in-out 250ms, opacity ease-in-out 500ms;
}

#solution-steps-wrapper[data-open] {
  opacity: 1;
  transform: scaleY(1);
}

#solution-steps {
  display: grid;
  gap: 1rem;
  grid-template-columns:
    repeat(auto-fit, minmax(calc(
      var(--puzzle-item-size) * var(--puzzle-cols) + var(--puzzle-cols) * 2em
    ), 1fr));
  justify-self: stretch;
  background-color: var(--translucent-black);
  grid-column: 1 / -1;
  padding: 1rem;
  place-content: center;
  border-radius: 6px;
  position: relative;
}

#solution-steps[data-solving="true"] {
  background-color: darkslateblue;
  color: var(--color-light);
}

#solution-title {
  margin: 0;
  grid-column: 1 / -1;
}

.solution-step {
  display: grid;
  grid-template-columns: 1fr var(--puzzle-item-size) 1fr;
  place-items: center;
  gap: 1rem;
  background-color: inherit;
  padding: inherit;
  border-radius: inherit;
  content-visibility: auto;
  contain-intrinsic-size: 1px 300px;
}

.solution-step-item {
  --puzzle-item-size: 2rem;
}

.solution-step-direction {
  text-align: left;
}

.solution-step-index::after {
  content: ':';
}

.solution-step-puzzle {
  grid-column: 1 / -1;
}

.solution-step-message {
  margin: 0;
  grid-column: 1 / -1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #efefef;
    --background-color: #202124;
    --foreground-color: var(--color-light);
    --cell-color: #174f74;
    --cell-highlighted-color: #177441;
    --puzzle-cursor-color: #80134f;
    --translucent-black: rgba(0, 0, 0, .12);
  }
}

@media only screen and (min-width: 640px) {
  .content-wrapper,
  .puzzle-wrapper,
  .puzzles {
    grid-template-columns: 1fr 1fr;
  }
}